/*.cj:hover {
    background-color: lawngreen;
    text-decoration: overline;
    cursor: pointer; 
    
}

.cj:active {
    text-decoration: line-through;
}

.cj:visited {
    text-decoration: line-through;
    color: violet
}

input:focus {color:red}
input {color: blue}
input:disabled {}

.shma:not(:empty) {color: grey;}

#some_id::before {
    content: attr(title);
    color: brown;
    text-decoration: line-through;
}

.shma::first-letter {
    color: green
}

h1:last-of-type {
    text-decoration: line-through;
}

body {
   
    color: #f5b051;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTRvudoRd1KhVi7mpBhBAWZ1qjWldrx8UhKg&s) no-repeat ;
    background-size: cover;
    background-attachment: fixed;}

    .main_text {
        color:#000;
        text-align:center;
        font-size: 1.3em;
        font-style: italic;
        font-weight:bold;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform:capitalize;
        word-spacing: 7px;
       text-decoration:line-through;
    }

    .block {
        background: red;
        height: 200px;
        width: 300px;
        border: 7px dotted silver;  
        border-bottom: 0;
        border-top-style: solid;
        border-style:double;
        border-radius:100px 900px 50px 189px;
        opacity: 0.9;
        margin: 200px 50px;
        padding-top: 200px;
        background-color: indigo;

        
    }

    * {
        margin: 0;
        padding: 0;
    }

    .Spanne { 
        background: red;
        height: 200px;
        width: 300px;
        border: 7px dotted silver;  
        border-bottom: 0;
        border-top-style: solid;
        border-style:double;
        border-radius:100px 900px 50px 189px;
        opacity: 0.9;
        margin: 200px 50px;
        padding-top: 200px;
        background-color: indigo;

        display: block;

    }

    .Spanne:hover {
        background-color: lime;
    }

    .block {
        width: 200px;
        height: 200px;
        margin: 20px;
        background: red;
    }

    #first {
        float: left;
    }

    #second {
        background: blue;
        float: right;
    }*/

/*
    #header, #footer {
        width: 100%;
        height: 70px;
        text-align: center;
        border-bottom: 4px solid silver;
        background: #333;
        color: #fff;
        line-height: 70px; /* указал 50пикс и текст встал посередине 
        margin-bottom: 50px;
        float: left;
    }*/
/*
 #main {
            width: 50%;
            margin-left: 10%;
            background: #fafafa;
            border: 1px solid silver;
            padding: 20px 2.5%; /*padding - внутренний отступ*, первое значение - сверху и снизу, второе - сбоку
            float: left; /*позиционирование слева
        }

        #aside {
            width: 20%;
            padding: 20px 2.5%;
            margin-right: 10%;
            background: #fafafa;
            border: 1px solid silver;
            position: relative;
            bottom: -50px;
            right: -600px;
        }


    #footer {
        margin-bottom: 0;
        margin-top: 50px;
        border-bottom: 0;
        border-top: 4px solid silver; бордер - типо обводка. в данном случае сверху (топ)
       
    }
    
body{
    height: 2000px;
}

    #some_block {
        background: red;
        color: white;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        text-align: center;
        position: fixed;
        left: 50px;
        top: 50px;
    }*/
/*
    #nav {
        list-style: none;
        display: block;
        float: left;
        width: 50%;
        margin-left: 25%;
        text-align: center;
        margin-bottom: 50px;

    }

    #nav li {
        display: block;
    
        border: 1px solid silver;
        padding: 0 20px; 
        cursor: pointer;
    }

    #nav li:hover {
        color: chartreuse;
        background: #333;
        border-radius: 5px;
        border-color: chartreuse;
    }
*/



.title {
    text-align: center;
}


.vybor {
    margin-left: 50px;
    margin-left: 450px;
    
}

.cj{
    font-size: 40px;
}

a:hover {
    color: #b3a06f;
}

#mainpage {
    background-image: url(https://wallscloud.net/img/resize/1920/1080/MM/2018-07-03-783AA802-99D8-40CB-BD9D-C0B62361EF2C.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}

ul li .cj {
    margin-bottom: 30px;
    background-color: pink;
    margin-left: 50px;
    display: inline-block;
    text-align: center;
}

.nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 40px;

}

.nav li a {
    display: inline-block;
    padding: 8px 100px;
   text-decoration: none;
 }

 .panel {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 30px;
    margin-left: 40px;
}

.photos {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 40px;
}

.photos img {
    width: 400px;
    height: auto;
    display: block;
}

.photos img:nth-child(3) {
    margin-top: -50px;
    margin-bottom: 70px;
}

.photos img:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 80px;

}




.opisanie {
    background-color: rgba(170, 21, 27, 0.75);
}

.ingr {
    background-color: rgba(241, 191, 0, 0.75);
}

.shagi {
    background-color:rgba(170, 21, 27, 0.75);
}